[Unit]
Description=top_and_free_watch_dog
Documentation=https://github.com/shi9uma/genshin/blob/main/script/01-watch-dog.sh
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/script/01-watch-dog
ExecStart=/etc/script/01-watch-dog/02-watch-dog.sh
ExecReload=/bin/kill -HUP
ExecStop=ps aux | grep '/etc/script/01-watch-dog/02-watch-dog.sh' | grep -v grep | awk '{print $2}' | xargs kill -9
Restart=on-failure
RestartSec=5s
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target

# ln -s /etc/script/01-watch-dog/02-watch-dog.service /usr/lib/systemd/system/
# rm /usr/lib/systemd/system/02-watch-dog.service
# systemctl daemon-reload